div.en_tete {
    position: absolute;
    top: 0;

    width: 80%;
    padding: 100px 10% 0 10%;

    background-color: var(--cyan);

    font-size: 30px;
    color: var(--black);
}

div.en_tete > p {
    margin: 20px 0 20px 0;
    text-align: end;
}