:root {
    --black: #1f1f1f;
    --lightgrey: #909090;
    --white: #f7f7f7;
    --blue: #365b6d;
    --cyan: #41c1ba;
    --green: #6c9286;
}

* {
    margin: 0;
    padding: 0;
}


body {
    background: rgb(31,31,31);
    background: linear-gradient(90deg, rgba(31,31,31,1) 0%, rgba(54,91,109,1) 100%);
    /*
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(52,20,68,1) 75%, rgba(83,24,112,1) 100%);
    */

}

/* barre de navigation */

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    display: flex;
    justify-content: center;

    padding: 10px;

    z-index: 20;
}

nav > ul{
    display: inline-block;

    padding: 5px;

    border-radius: 5px;
    border: 2px solid var(--lightgrey);

    background-color: #161616;
}

nav > ul > a > li {
    display: inline-block;

    width: 120px;

    padding: 5px;

    border-radius: 5px;

    font-size: 20px;
    color: var(--white);
    text-align: center;
}

nav > ul > a {
    color: var(--white);
    text-decoration: none;
}

nav > ul > a:hover {
    color: var(--white);
}

nav > ul > a:visited {
    color: var(--white);
}

nav > ul > a:active {
    color: var(--white);
}

#navSelect {
    background: var(--green);
}

/* div accueil */

/*

projets

div.projets {
    width: calc(100% - 300px);

    margin: 50px 100px;
    padding: 20px 50px;

    border: 2px solid var(--green);
    border-radius: 25px;
}

div.projets > div.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div.projets > div.top > h2 {
    font-size: 30px;
    text-decoration: underline;
    color: var(--blue);
}

div.presentation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    padding: 20px 50px;
}

div.projet {
    width: 30%;
    max-width: 600px;
    min-width: 300px;

    background-color: var(--blue);
    border: 3px solid var(--cyan);
    border-radius: 25px;
}

div.projet > img {
    width: 100%;
    border-radius: 25px 25px 0 0;
}

div.projet:last-child {
    margin-right: 0;
}
*/
/* footer */

footer {
    width: calc(100% - 40px);
    padding: 20px 20px;
    margin-top: 50px;


    background-color: #161616;

    color: var(--lightgrey);
    font-size: 18px;
}

