:root {
    --black: #1f1f1f;
    --lightgrey: #909090;
    --white: #f7f7f7;
    --blue: #365b6d;
    --cyan: #41c1ba;
    --green: #6c9286;
}

* {
    margin: 0;
    padding: 0;
}


body {
    background: rgb(31,31,31);
    background: linear-gradient(90deg, rgba(31,31,31,1) 0%, rgba(54,91,109,1) 100%);
    /*
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(52,20,68,1) 75%, rgba(83,24,112,1) 100%);
    */

}

/* barre de navigation */

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    display: flex;
    justify-content: center;

    z-index: 20;
}

/* padding de li dans nav doit partir si la fenêtre est trop petite*/

@media only screen and (min-width: 430px){
    nav {
        padding: 10px 0;
    }

    nav > ul > a > li {
        width: 120px;
    }
}


nav > ul{
    display: inline-block;

    padding: 5px;

    border-radius: 5px;
    border: 2px solid var(--lightgrey);

    background-color: #161616;
}

nav > ul > a > li {
    display: inline-block;

    border-radius: 5px;

    padding: 5px;


    font-size: 20px;
    color: var(--white);
    text-align: center;
}

nav > ul > a {
    color: var(--white);
    text-decoration: none;
}

nav > ul > a:hover {
    color: var(--white);
}

nav > ul > a:visited {
    color: var(--white);
}

nav > ul > a:active {
    color: var(--white);
}

#navSelect {
    background: var(--green);
}

/* footer */

footer {
    width: calc(100% - 40px);
    padding: 20px 20px;
    margin-top: 50px;


    background-color: #161616;

    color: var(--lightgrey);
    font-size: 18px;
}

